<div *ngIf="product | async; let product; else loading">
  <p>
    Product #{{product.id}}
  </p>
  <div class="row">
    <div class="col-6">
      <dl>
        <dt>Id</dt>
        <dd>{{product.id}}</dd>
        <dt>Name</dt>
        <dd>{{product.name}}</dd>
        <dt>Description</dt>
        <dd>{{product.description}}</dd>
        <dt>Category</dt>
        <a class="btn btn-primary" [routerLink]='["/category",product.categoryID]'>
          View category
        </a>
        <dt>Available</dt>
        <dd>{{product.available ? 'Yes':'No'}}</dd>
      </dl>
    </div>
    <div class="col-6">
      <dl>
        <dt>Min Order Quantity</dt>
        <dd>{{product.minOrderQuantity}}</dd>
        <dt>Unit Of Measure</dt>
        <dd>{{product.unitOfMeasure}}</dd>
        <dt>Purchase Price</dt>
        <dd>{{product.purchasePrice}}</dd>
      </dl>
    </div>
  </div>
  <div class="btn-group" role="group">
    <a class="btn btn-primary" [routerLink]='["/products"]'>
      Back to the list
    </a>
    <a class="btn btn-danger" (click)="delete(product)">
      Delete this product
    </a>
    <a class="btn btn-warning" [routerLink]='["/product/edit",product.id]'>
      Edit product information
    </a>
  </div>
</div>
<p>
  <ng-template #loading>Loading product information...</ng-template>
</p>
