<h3>Products</h3>

<div>
  <div class="row" style="margin-bottom: 11px;">
    <div class="col-md-auto">
      <label for="productIdInput">Category</label>
      <input class="form-control" id="productCategoryInput" [ngbTypeahead]="typeaheadCategories" (keydown.enter)="Search()"
        [(ngModel)]="productCategory" />
    </div>
    <div class="col-md-auto">
      <label for="productIdInput">Product ID</label>
      <input class="form-control" id="productIdInput" (keydown.enter)="Search()" [(ngModel)]="productId" />
    </div>

    <div class="col-md-auto">
      <label for="productNameInput">Product Name</label>
      <input class="form-control" id="productNameInput" (keydown.enter)="Search()" [(ngModel)]="productName" />
    </div>
    <div class="col-md-auto">
      <label for="productAvailableInput">Availability</label>
      <select class="form-control" id="productAvailableInput" [(ngModel)]="productAvailability">
        <option value=""></option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
    <div class="col-2 col-lg-2">
      <div>
        <button class="btn btn-info" style="margin-top:32px;" (click)="Search()">Search</button>
      </div>
    </div>
  </div>
</div>

<div>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Availability</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngIf="products.length > 0; else loading">
      <tr *ngFor="let product of products">
        <td>
          {{product.id}}
        </td>
        <td>
          {{product.name}}
        </td>
        <td>
          {{product.category.name}}
        </td>
        <td>
          <input type="checkbox" [checked]="product.available" disabled />
        </td>
        <td>
          <a class="btn btn-primary" [routerLink]='["/product",product.id]'>
            Details
          </a>
        </td>
        <td>
          <a class="btn btn-warning" [routerLink]='["/product/edit",product.id]'>
            Edit
          </a>
        </td>
        <td>
          <a class="btn btn-danger" (click)="delete(product)">
            Delete
          </a>
        </td>
      </tr>
  </table>
  <ng-template id="loader" #loading>
    <span [innerText]="loaderText"></span>
  </ng-template>


  <ngb-pagination [collectionSize]="totalProducts" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
    (pageChange)="pageChanged($event)"></ngb-pagination>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-warning " [routerLink]='["/productsUpload"]'>Upload products from the file</button>
    <button type="button" class="btn btn-success" (click)="Download()">Download all records with current filter</button>
    <button type="button" class="btn btn-primary " [routerLink]='["/products/create"]'>Create a new product</button>
  </div>
</div>
