<div *ngIf="categories | async; let categories; else loading">
  <div>
    <div [hidden]="submitted">
      <h1>Creating new product</h1>
      <form (ngSubmit)="create()" #productForm="ngForm">
        <div class="row form-group">
          <label class="col-sm-2 col-form-label" for="name">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" required [(ngModel)]="product.name" name="name">
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-2 col-form-label" for="description">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="description" required [(ngModel)]="product.description" name="description">
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-2 col-form-label" for="category">Description</label>
          <div class="col-sm-10">
            <select class="form-control" id="category" required [(ngModel)]="product.categoryID" name="category">
              <option *ngFor="let c of categories.data" [ngValue]="c.id">{{c.name}}</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-2 col-form-label" for="minOrderQuantity">Min Order Quantity</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="minOrderQuantity" required [(ngModel)]="product.minOrderQuantity"
              name="minOrderQuantity">
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-2 col-form-label" for="unitOfMeasure">Unit Of Measure</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="unitOfMeasure" required [(ngModel)]="product.unitOfMeasure"
              name="unitOfMeasure">
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-2 col-form-label" for="purchasePrice">Purchase Price</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="purchasePrice" required [(ngModel)]="product.purchasePrice"
              name="purchasePrice">
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-2 col-form-label" for="available">Available</label>
          <div class="col-sm-10">
            <input type="checkbox" class="form-control checkbox" id="available" required [(ngModel)]="product.available"
              name="available">
          </div>
        </div>
        <div class="btn-group" role="group">
          <button class="btn btn-primary" [routerLink]='["/products"]'>
            Back to the list
          </button>
          <input class="btn btn-danger" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>

</div>
<p>
  <ng-template #loading>Loading required information...</ng-template>
</p>
