<h3>Categories</h3>

<div class="container">
  <div class="row" style="margin-bottom: 11px; margin-left:-30px;">
    <div class="col-4">
      <label for="categoryIdInput">Category ID</label>
      <input class="form-control"
             id="categoryIdInput" (keydown.enter)="Search()" [(ngModel)]="categoryId" />
    </div>
    
    <div class="col-4">
      <label for="categoryNameInput">Category Name</label>
      <input class="form-control"
             id="categoryNameInput" (keydown.enter)="Search()" [(ngModel)]="categoryName" />
    </div>
    <div class="col-2">
      <div>
        <button class="btn btn-primary" style="margin-top:32px;" (click)="Search()">Search</button>
      </div>
    </div>
  </div>
</div>

<div>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Category ID</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngIf="categories.length > 0; else loading">
      <tr *ngFor="let category of categories">
        <td>
          {{category.id}}
        </td>
        <td>
          {{category.name}}
        </td>
        <td>
          <a class="btn btn-primary" [routerLink]='["/category",category.id]'>
            View category
          </a>
        </td>
      </tr>
  </table>
  <ng-template id="loader" #loading>
    <span [innerText]="loaderText"></span>
  </ng-template>


  <ngb-pagination [collectionSize]="totalCategories"
                  [(page)]="page"
                  [maxSize]="5"
                  [rotate]="true"
                  [boundaryLinks]="true"
                  (pageChange)="pageChanged($event)"></ngb-pagination>
            <a class="btn btn-warning" [routerLink]='["/categoriesUpload"]'>Upload categories from the file</a>
            <a class="btn btn-info" (click)="Download()">Download all records with current filter</a>
</div>
