/* You can add global styles to this file, and also import other style files */

body{
    padding-bottom: 50px;
}
.footer {
  position: absolute;
  padding: 13px;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}