<div *ngIf="category | async; let category; else loading">

  <dl>
    <dt scope="col">Category ID</dt>
    <dd>
      {{category.id}}
    </dd>
    <dt scope="col">Description</dt>
    <dd>
      {{category.name}}
    </dd>
  </dl>

  <div class="btn-group" role="group">
    <button class="btn btn-primary" [routerLink]='["/categories"]'>
      Back to the list
    </button>
    <button class="btn btn-success" [routerLink]='["/products",category.name]'>
      View products
    </button>

  </div>
</div>
<p>
  <ng-template #loading>Loading category information...</ng-template>
</p>
