<p>
  Upload categories from the file with predefined format
</p>
<div>
  <input type="file" name="formFile" ng2FileSelect [uploader]="uploader" />
</div>

<div>
  <div>
    Queue progress:
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>
  </div>
  <button type="button" class="btn btn-success btn-s" (click)="upload()" [disabled]="!uploader.getNotUploadedItems().length">
    <span class="glyphicon glyphicon-upload"></span> Upload
  </button>
  <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
    <span class="glyphicon glyphicon-trash"></span> Cancel
  </button>
</div>
<div>
  <span>{{error}}</span>
</div>
