<h1>Hello Eriks Digital!</h1>
<p>To help you get started, here's what we got:</p>
<ul>
  <li>
    <div><strong>Category's management</strong>. In this initial version you can upload categories from the CSV file
      and view results on the special web page <a [routerLink]='["/categories"]'>Categories</a>.
      If you want to quickly browse all products from a particular category you can do that from category's view page.
    </div>
  </li>
  <li>
    <div>
      <strong>Product's management</strong>. This part is more functional. In addition to uploading, you can
      perform the whole set of CRUD operations. One and every product can be edited via special page. All products are
      available at <a [routerLink]='["/products"]'>Products</a>.
    </div>
  </li>
  <li>
    <div>
      <strong>Export</strong>. Both categories' and products' pages have a button for exporting data.
      If your filters are not empty, it will be taken into account when an export task is started.
    </div>
  </li>
</ul>
<p>Happy browsing!</p>
